<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home | Funkoshop</title>
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/css/style-contact.css" />
        <link rel="shorcut icon" href="/assets/img/branding/isotype.svg" type="image/x-icon" />
    </head>
    <body>
        <%- include('../partials/hShop') %>
        <main>
            <section class="contact container">
                <article class="contact-head_content">
                    <h1 class="contact-head_title">CONTACTANOS</h1>
                    <p class="contact-head_text">
                        Completá el formulario para que podamos ayudarte
                    </p>
                </article>
                <form>
                    <fieldset class="contact-data">
                        <label class="contact-data_content" for="name"
                            >Nombre:
                            <input
                                class="contact-data_input"
                                id="name"
                                type="text"
                                placeholder="Jhon"
                                required
                        /></label>
                        <label class="contact-data_content" for="lastname"
                            >Apellido:
                            <input
                                class="contact-data_input"
                                id="lastname"
                                type="text"
                                placeholder="Doe"
                                required
                        /></label>
                        <label class="contact-data_content" for="email"
                            >Email:
                            <input
                                class="contact-data_input"
                                id="email"
                                type="email"
                                placeholder="jhondoe@correo.com"
                                required
                        /></label>
                    </fieldset>
                    <fieldset class="contact-data">
                        <label class="contact-data_content" for="message">
                            <textarea
                                class="contact-data_textarea"
                                name="message"
                                id="contact-data_content"
                                rows="10"
                                placeholder="Dejanos un mensaje"
                                required
                            ></textarea>
                        </label>
                    </fieldset>
                    <fieldset class="contact_button">
                        <button
                            class="btn-primary"
                            id="submit"
                            type="submit"
                            onclick=""
                        >
                            Enviar
                        </button>
                    </fieldset>
                </form>
            </section>
        </main>
        <%- include('../partials/fShop') %>
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
        <script src="/assets/js/slider.js"></script>
        <script src="/assets/js/core.js"></script>
    </body>
</html>
