footer.footer
  nav.navbar.container
    ul
      li
        a.navbar_link(href="/shop") SHOP
      li
        a.navbar_link(href="/auth/register") REGISTRARSE
      li
        a.navbar_link(href="/auth/login") INGRESAR
      li
        a.navbar_link(href="/contact") CONTACTO
    picture.navbar_iso
      a(href="/")
        img(src="../../assets/img/branding/isotype.svg", alt="Isotipo Funkoshop")
  p.footer_copy All rights reserved 2023 - Funkoshop ©