footer.footer
  nav.navbar.container
    ul
      li
        a.navbar_link(href="../shop/shop.html") SHOP
      li
        a.navbar_link(href="./register.html") REGISTRARSE
      li
        a.navbar_link(href="./login.html") INGRESAR
      li
        a.navbar_link(href="../shop/contact.html") CONTACTO
    picture.navbar_iso
      img(src="../../assets/img/branding/isotype.svg", alt="Isotipo Funkoshop")
  p.footer_copy All rights reserved 2023 - Funkoshop ©