header
  nav.navbar.container
    picture.navbar_logo
      a(href="../../index.html")
        img.nav-banner(src="../../assets/img/branding/logo_light_horizontal.svg", alt="Isologo Funkoshop")
    ul.navbar_menu
      li.navbar_item.with-submenu
        a.navbar_link.with-icon(href="../../index.html") VER TIENDA
      li.navbar_item
        a.navbar_link(href="./admin.html") ADMIN
      li.navbar_item
        a.navbar_link(href="#") SALIR