header
  nav.navbar.container
    picture.navbar_logo
      a(href="/")
        img.nav-banner(src="../../assets/img/branding/logo_light_horizontal.svg", alt="Isologo Funkoshop")
    ul.navbar_menu
      li.navbar_item.with-submenu
        a.navbar_link.with-icon(href="/shop")
          | SHOP
          iconify-icon(icon="tabler:chevron-down")
        ul.submenu
          li.submenu_item
            a.submenu_link(href="#") Figuras
          li.submenu_item
            a.submenu_link(href="#") Remeras
          li.submenu_item
            a.submenu_link(href="#") Llaveros
      li.navbar_item
        a.navbar_link(href="/contact") CONTACTO
      li
        a.navbar_link(href="/auth/login") LOGIN
      li
        a.navbar_cart(href="/shop/cart")
          img.cart-icon(src="../../assets/img/icons/cart-icon.svg", alt="Cart Icon")