header
  nav.navbar.container
    picture.navbar_logo
      a(href="/")
        img.nav-banner(src="../../assets/img/branding/logo_light_horizontal.svg", alt="Isologo Funkoshop")
    ul.navbar_menu
      li.navbar_item.with-submenu
        a.navbar_link.with-icon(href="/") VER TIENDA
      li.navbar_item
        a.navbar_link(href="/admin") ADMIN
      li.navbar_item
        a.navbar_link(href="#") SALIR